/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss start ignore */
body,
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* purgecss end ignore */
